logs/
scripts/*.out
scripts/.snakemake/
scripts/__pycache__/
manuscript/main.aux
manuscript/main.bbl
manuscript/main.blg
manuscript/main.log
manuscript/main.pdf
manuscript/figs/fig1.pdf
manuscript/figs/fig2.pdf
manuscript/figs/fig3.pdf
manuscript/figs/spf1.pdf
manuscript/figs/spf2.pdf
