logs/
scripts/*.out
scripts/.snakemake/
scripts/__pycache__/
manuscript/main.aux
manuscript/main.bbl
manuscript/main.blg
manuscript/main.log
manuscript/main.pdf
manuscript/figs/*.pdf
manuscript/supp.aux
manuscript/supp.bbl
manuscript/supp.blg
manuscript/supp.log
manuscript/supp.pdf
manuscript/docx/
manuscript/ama.csl
